<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="cn.cameralink.wb800f.tests">
    <application android:debuggable="true" android:label="WB800F protocol smoke tests" />
    <instrumentation android:name="cn.cameralink.wb800f.tests.SmokeInstrumentation" android:targetPackage="cn.cameralink.wb800f" android:functionalTest="true" />
</manifest>
